<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="Post" th:action="@{/{id} (id=${user.getId()})}" th:object="${user}">

    <label for="Name">Name</label>
    <input type="text" th:field="*{name}" id="Name">
    <br/>
    <label for="LastName">LastName</label>
    <input type="text" th:field="*{lastName}" id="LastName">
    <br/>
    <label for="Email">Email</label>
    <input type="text" th:field="*{email}" id="Email">
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>