<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllBase</title>
    <style>
        th.column {
            width: 200px;
            padding: 10px;
        }
        td.column {
            width: 200px;
            padding: 10px;
        }
    </style>
</head>
<body>

<h1>Users Data base</h1>
<table>
    <tr>
        <th class="column">ID</th>
        <th class="column">Name</th>
        <th class="column">Lastname</th>
        <th class="column">Email</th>
        <th class="column">Delete</th>
        <th class="column">Edit</th>
    </tr>
    <tr th:each="user : ${users}">
        <td class="column" th:text="${user.id}">ID</td>
        <td class="column" th:text="${user.name}">Name</td>
        <td class="column" th:text="${user.lastName}">LastName</td>
        <td class="column" th:text="${user.email}">Email</td>
        <td>
            <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
        </td>
        <td>
            <form th:method="GET" th:action="@{${user.getId()}+'/edit'}" th:object="${user}">
                <input type="submit" value="EDIT"/>
            </form>
        </td>
    </tr>
</table>
<form th:method="GET" th:action="@{/new}">
    <input type="submit" value="Add user">
</form>
</body>
</html>